.App {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.data-loading-section,
.filtered-colors-section {
  width: 20%;
}

.circles-section {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.color-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.filtered-color {
  display: flex;
  align-items: center;
}

button {
  margin-top: 10px;
  padding: 5px 10px;
}
